global:
  resolve_timeout: 5m 


route:
  receiver: telegram
  group_by: ["alertname"]
  group_interval: 5m 
  group_wait: 30s 
  repeat_interval: 4h 


  routes:
    - matchers:
      - severity="critical"
      receiver: telegram
    - matchers:
      - severity="warning"
      receiver: telegram


receivers:
  - name: telegram
    telegram_configs:
      - bot_token: "..."
        chat_id: ...
        parse_mode: HTML
