global:
  scrape_interval: 15s
  evaluation_interval: 15s


alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]


rule_files:
  - rules/*.yml


scrape_configs:
  - job_name: postgres
    static_configs:
      - targets: ["postgres_exporter:9187"]
